<form action="/birds/new" method="post">
  <p>Enter the names of the observed species</p>
  <dl>
    <dt>
      <label for="common_name">Common name *</label>
    </dt>
    <dd>
      <input name="common_name" placeholder="Common Name" type="text" value="<%= params[:common_name] %>">
    </dd>
    <dt>
      <label for="scientific_name">Scientific name *</label>
    </dt>
    <dd>
      <input name="scientific_name" placeholder="Scientific Name" type="text" value="<%= params[:scientific_name] %>">
    </dd>
  </dl>
  <fieldset>
    <input type="submit" value="Save">
    <a href="/birds">Cancel</a>
  </fieldset>
</form>

<% content_for :header_links do %>
  <ul>
    <li>
      <form method="post" action="/users/signout">
        <button type="submit">Sign Out</button>
      </form>
    </li>
  </ul>
<% end %>
