<% content_for :header_links do %>
  <ul>
    <li>
      <form method="post" action="/users/signout">
        <button type="submit">Sign Out</button>
      </form>
    </li>
    <li>
      <a href="/birds">All species</a>
    </li>
  </ul>
<% end %>